
/* Container */
.detail-container{
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

/* Header - Begin */
.detail-container header {
  display: flex;
  align-items: center;
}

.detail-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.detail-container header img {
  width: 15em;
}

.detail-container header div{
  width: auto;
  margin-right: 50px;
}

.detail-container header div button {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdce6;
  transition: border-color 0.2s;
}

.detail-container header div button:hover  {
  border-color: #999;
}
/* Header - End */

/* Search - Begin */
.detail-container div.search {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.detail-container div.search input{
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #f2feff;
  border: 1px solid #7cc9ce;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #777;
}

.detail-container div.search button{
  width: 45px;
  height: auto;
  background-color: #f2feff;
  border: 1px solid #7cc9ce;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: ease-in-out .3s;
  color: #999;
}

.detail-container div.search button:hover{
  background-color: #e0ecee;
}

/* Search - End */

/* Main - Begin */
.detail-container main{
  display: flex;
  background-color: #f2feff;
  border-radius: 14px;
  box-shadow: 0px 0px 2px 2px #0001;
}

.detail-container main div {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container main div h1{
  height: auto;
  margin: 2px 0px;
  color: #7cc9ce;
}

.detail-container main div p {
  
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 0px 10px;
  color: #666;
  font-size: large;

}

.detail-container main div p a {
  color: #56BCC1;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

.detail-container main div p a:hover {
  filter: brightness(80%);
  text-decoration: underline;
}
/* Main - End */